.mapouter {
	position: relative;
	text-align: right;
	width: 350px;
	height: 250px;
}
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	width: 350px;
	height: 250px;
}
.gmap_iframe {
	width: 350px !important;
	height: 250px !important;
}
.divider-contact {
	height: 70px;
}
